h2 {
    text-align: center;
  }
  
  .subject-grid {
    display: grid;
    grid-template-columns: repeat(3,150px);  
    grid-template-rows: repeat(3,150px);
    grid-gap:50px 30px; 
    justify-content: center;
  }
  
  .subject-grid-item{
    padding:20px;
  }

  .subject_icon {
    max-width: 150%;
    height: auto;
    border-radius: 20%;
  }