:root {
    --blue: #346fb4;
    --yellow: #e5af44;
    --green: #72e858;
    --cream: #f4d087;
    --grey: #e5e5e5;
    --dark: #333333;

    --dark-blue: #25335a;
    --dark-gray: #141824;
}

.chapter-wrapper {
    background: linear-gradient(to right, var(--dark-blue), var(--dark-gray));
    background-color: var(--dark-gray);
    width: 400px;
    height: 100px;
    border-radius: 16px;
    margin: 8px 16px;
    padding: 16px 32px;
    box-shadow: 2px 2px 4px #000000;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s linear;
}

@media (max-width: 1032px) {
    .chapter-wrapper {
       width: 300px;
       margin: 8px 8px;
    }
 }

.chapter-wrapper:hover {
    background: var(--yellow);
}

.chapter-wrapper:active {
    box-shadow: 1px 1px #000000; 
}

.chapter {
    display: inline-block;
    align-self: center;
}

.section {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

.chapter-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: white;
}

.chapter-image {
    height: 100px;
    display: inline-block;
    align-items: center;
    padding-right: 20px;
}
