:root {
    --blue: #346fb4;
    --yellow: #e5af44;
    --green: #72e858;
    --cream: #f4d087;
    --grey: #e5e5e5;
    --dark: #333333;
}

.register-wrapper {
    display: flex;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* flex-direction: column; */
    /* padding: 50px; */
    /* align-items: center; */

}

.registerimg {
    height: 100vh;
    padding-left: 50px;
}

@media (max-width: 900px) {
    .registerimg {
       display: none; 
    }
 }

.register-wrapper2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-2 {
    background-color: var(--yellow);
    border-radius: 8px;
    border-width: 0;
    color: var(--dark);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2:hover {
    background-color: var(--cream);
}

.register-button {
    background-color: transparent;
    border-radius: 8px;
    border-width: 0;
    color: var(--blue);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: underline;
}

.register-button:hover {
    filter: brightness(150%);
}

